.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

#myButton{
    padding: 15px 20px;
    border-radius: 5px;
    background-color:aqua;
}

body{
    font-family: Verdana;
}